#jumbotron {
	width: 100%;
	height: 20%;
	font-family: 'Unibody 8 Pro';
	text-align: center;
	vertical-align: middle;
	line-height: 20%;
}

#jumbotron h1 {
	padding-top: 2vh;
	padding-bottom: 2vh;
	font-size: 4vh;
}

#jumbotron h2 {
	font-size: 2.5vh;
}

#profile {
	padding-left: 40.7%;
	padding-top: 3%;
}

#profile-image {
	display: inline-block;
}

#profile p {
	position: fixed;
	padding-top: 5%;
	padding-left: 2%;
	font-family: 'Unibody 8 Pro';
	vertical-align: center;
	display: inline-block;
}

#website-info {
	font-size: 1vh;
}

#about {
	font-family: 'Unibody 8 Pro';
	width: 40%;
	padding-left: 30%;
	padding-top: 2%;
}

#navigation {
	margin-left: -74.5%;
	height: 10%;
	width: 100%;
	padding-top: 10%;
	font-family: 'Unibody 8 Pro';
	font-size: 1vh;
}

#navigation h4 {
	display: inline-block;
	position: relative;
}

#legal {
	text-align: left;
	font-family: 'Unibody 8 Pro';
	font-size: 1vh;
	color: #aaaaaa;
}

footer{
	position:fixed;
	bottom:0;
	left:0;
	padding-left: 0.5%;
	padding-bottom: 0.5%;
}